.table th {
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table .empty-cell {
  font-style: italic;
  color: darkgray;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.table-search {
    float: right;
    max-width: 300px;
}

.table-search label{
    display: block;
}

.editable-table .edit-input {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 8px;
    box-shadow: 0 0 5px #6B6B6B;
}

.editable-table td {
    position: relative;
}

.editable-table .checkbox-container {
    margin: 0 -46px 0 0;
}

.editable-table td.error .edit-input {
    color: #d9534f;
    box-shadow: 0 0 5px #d9534f;
}

.editable-table tr.data-tr:hover {
    background: #fbf7f9;
}

.table-controls {
    margin: 10px 0 10px;
}

.checkbox-td {
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

.opt-btn{
    margin-right: 5px;
    width: 40px;
}

.sort-icon:after {
  margin: 0 5px;
  color: hsl(20, 0%, 70%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sort-icon.sort-ascending:after  { content: '\f0de'; }
.sort-icon.sort-descending:after { content: '\f0dd'; }
.sort-icon.sort-none:after  { content: '\f0dc'; }
